extends  ../public/default.pug

block title
  title Home - Bem-vindo

block banner
  div.intro.z-depth-1.indigo.lighten-4
    i.fa.fa-comments-o.fa-5x
    h3 Bem-vindo ao Node.js Basic System

block content
  div.row
    div.col.s12.m5
      div.card-panel.teal      
        span.white-text 
          i.fa.fa-hand-o-right &nbsp; 
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
          br
          br
          | It has survived not only 
          i five centuries, 
          | but also the leap into electronic typesetting, remaining essentially unchanged.

    div.col.s12.m7      
        p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.      