footer.page-footer.light-blue.darken-4#footer
  div.container
    div.row
      div.col.l6.s12

  div.footer-copyright.center  
    div.container &copy; Fabr&iacute;cio Costa #{new Date().getFullYear()} -&nbsp;
      a.white-text(href='http://fabriciojf.com') fabriciojf.com

  script(src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(src='/javascript/materialize.min.js')

  if message
    script(type='text/javascript').
      window.onload = Materialize.toast('#{message}', 3000, 'rounded');