div.navbar-fixed
  nav.light-blue.darken-4(role='navigation')
    div.nav-wrapper.container
      a.brand-logo(href='/')
        i.fa.fa-home &nbsp;Node Basic System
      ul.right.hide-on-med-and-down(id='nav-mobile')
        li
          a(href='/admin') Dashboard
        li(if )
          a(href='/user/add') Cadastrar
        li(if )
          a(href='/admin') Login
        li
          a(href='/admin/logoff') Logoff
      a.button-collapse(
        href='#',
        data-activates='nav-mobile'
      )
        i.material-icons menu